#login_screen{
    background-color: cornflowerblue;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login_box {
    width: 200px;
    background-color: chartreuse;
    border: solid black 10px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px;
}
#member_join_box li {
    list-style: none;
}
